body {
    margin: 0px;
}
.Overturn {
    float: left;
    position: absolute;
    display: block;
    perspective: 200px;
    perspective-origin: center center;
    /*margin: 10px;*/
    cursor: pointer;
}
.Overturn > .Space {
    position: absolute;
    display: block;
}
.Overturn > .MainBox01 {
    position: absolute;
    display: block;
    background-position: center;
    background-repeat: no-repeat;
    background-color: rgba(255, 255, 255, 1);
}
.Overturn > .MainBox01.hidden {
    visibility: hidden;
}
.Overturn > .Space > .Box {
    position: absolute;
    display: block;
    transform-style: preserve-3d;
}
.Overturn > .Space.hidden {
    visibility: hidden;
}
.Overturn > .Space > .Box > .Box01,
.Overturn > .Space > .Box > .Box02,
.Overturn > .Space > .Box > .Box03,
.Overturn > .Space > .Box > .Box04 {
    position: absolute;
    display: block;
    backface-visibility: hidden;
    background-repeat: no-repeat;
}
.Overturn > .Space > .Box > .Box01 {
    background-color: rgba(255, 255, 255, 1);
}
.Overturn > .Space > .Box > .Box02 {
    background-color: rgba(255, 255, 255, 1);
}
.Overturn > .Space > .Box > .Box03 {
    background-color: rgb(54, 54, 54);
}
.Overturn > .Space > .Box > .Box04 {
    background-color: rgb(54, 54, 54);
}

.Overturn02{
    perspective: 500px;  
}
#example01_0,#example01_1,#example01_2,#example01_3{
    position: relative;
    display: block;
    width: 200px;
    height: 200px;
}
#example02{
    position: absolute;
    display: block;
    width: 100%;
    height: 300px;
}
